<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haziq EXS Synergy Assessment</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col items-center justify-center h-screen bg-gray-200">
    <h1 class="mb-8 text-2xl font-bold">List of overdues</h1>
    <button onclick="location.href='{{ url_for('root') }}';"
        class="px-4 py-2 text-white bg-gray-500 rounded hover:bg-gray-600">Back</button>
</body>

</html>